In [1]:
import pandas as pd
import numpy as np
stocks=pd.read_csv("TSX 60_latest.csv")

C:\Users\Bhagavan\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
stocks.head()

,STOCKS,1-Jul-24,13-Jul-24,27-Jul-24,3-Aug-24,10-Aug-24,17-Aug-24,24-Aug-24,31-Aug-24,8-Sep-24,15-Sep-24,22-Sep-24,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TSX INDEX,1304.80,1351.31,1362.71,1329.97,1339.25,1381.96,1394.46,1401.13,1373.45,1415.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Barrick Gold Corp,22.82,25.05,24.61,24.82,23.91,26.99,27.71,27.21,25.79,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Agnico Eagle Mines Ltd,89.48,102.40,101.54,104.14,101.86,109.54,111.84,109.80,104.31,113.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
stocks.drop(stocks.columns[stocks.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [4]:
stocks.dropna(subset=['STOCKS'], how='all', inplace=True)

In [5]:
def percentage_change(col1,col2):
    return ((col2 - col1) / col1) * 100

In [6]:
stocks['a'] = percentage_change(stocks['1-Jul-24'], stocks['13-Jul-24'])    
stocks['b'] =  percentage_change(stocks['13-Jul-24'], stocks['27-Jul-24'])
stocks['c'] =  percentage_change(stocks['27-Jul-24'], stocks['3-Aug-24'])
stocks['d'] =  percentage_change(stocks['3-Aug-24'], stocks['10-Aug-24'])
stocks['e'] =  percentage_change(stocks['10-Aug-24'], stocks['17-Aug-24'])
stocks['f'] =  percentage_change(stocks['17-Aug-24'], stocks['24-Aug-24'])
stocks['g'] =  percentage_change(stocks['24-Aug-24'], stocks['31-Aug-24'])
stocks['h'] =  percentage_change(stocks['31-Aug-24'], stocks['8-Sep-24'])
stocks['i'] =  percentage_change(stocks['8-Sep-24'], stocks['15-Sep-24'])
stocks.head()

,STOCKS,1-Jul-24,13-Jul-24,27-Jul-24,3-Aug-24,10-Aug-24,17-Aug-24,24-Aug-24,31-Aug-24,8-Sep-24,...,22-Sep-24,a,b,c,d,e,f,g,h,i
1,TSX INDEX,1304.80,1351.31,1362.71,1329.97,1339.25,1381.96,1394.46,1401.13,1373.45,...,NaN,3.564531,0.843626,-2.402565,0.697760,3.189098,0.904512,0.478321,-1.975548,3.095854
3,Barrick Gold Corp,22.82,25.05,24.61,24.82,23.91,26.99,27.71,27.21,25.79,...,NaN,9.772130,-1.756487,0.853312,-3.666398,12.881639,2.667655,-1.804403,-5.218670,9.771229
4,Agnico Eagle Mines Ltd,89.48,102.40,101.54,104.14,101.86,109.54,111.84,109.80,104.31,...,NaN,14.438981,-0.839844,2.560567,-2.189360,7.539760,2.099690,-1.824034,-5.000000,8.398044
5,Algonquin Power and Utilities Corp,8.04,8.58,8.58,8.54,7.42,7.32,7.26,7.31,7.08,...,NaN,6.716418,0.000000,-0.466200,-13.114754,-1.347709,-0.819672,0.688705,-3.146375,5.649718
6,Alimentation Couche-Tard Inc.,76.77,81.49,82.62,81.76,79.89,83.57,78.27,76.93,76.86,...,NaN,6.148235,1.386673,-1.040910,-2.287182,4.606334,-6.341989,-1.712022,-0.090992,-2.419984

In [7]:
stocks.drop(['STOCKS'],axis=1,inplace=True)

In [8]:
stocks.drop(['1-Jul-24'],axis=1,inplace=True)
stocks.drop(['13-Jul-24'],axis=1,inplace=True)
stocks.drop(['27-Jul-24'],axis=1,inplace=True)
stocks.drop(['3-Aug-24'],axis=1,inplace=True)
stocks.drop(['10-Aug-24'],axis=1,inplace=True)
stocks.drop(['17-Aug-24'],axis=1,inplace=True)
stocks.drop(['24-Aug-24'],axis=1,inplace=True)
stocks.drop(['31-Aug-24'],axis=1,inplace=True)
stocks.drop(['8-Sep-24'],axis=1,inplace=True)
stocks.drop(['15-Sep-24'],axis=1,inplace=True)
stocks.drop(['22-Sep-24'],axis=1,inplace=True)

In [9]:
stocks.head()

,a,b,c,d,e,f,g,h,i
1,3.564531,0.843626,-2.402565,0.697760,3.189098,0.904512,0.478321,-1.975548,3.095854
3,9.772130,-1.756487,0.853312,-3.666398,12.881639,2.667655,-1.804403,-5.218670,9.771229
4,14.438981,-0.839844,2.560567,-2.189360,7.539760,2.099690,-1.824034,-5.000000,8.398044
5,6.716418,0.000000,-0.466200,-13.114754,-1.347709,-0.819672,0.688705,-3.146375,5.649718
6,6.148235,1.386673,-1.040910,-2.287182,4.606334,-6.341989,-1.712022,-0.090992,-2.419984

In [10]:
def get_item_recommendations(interaction,itemname):
    otherrows=[rowname for rowname in interaction.index if rowname!=itemname]
    otheritems=interaction.loc[otherrows,:]
    theitem=list(interaction.loc[itemname,:])
    similarities=[]
    for items in otheritems.index:
        similarities.append(cosine_similarity(theitem,list(otheritems.loc[items,:])))
    otheritems['similarities']=similarities
    return list(otheritems.sort_values(by='similarities',ascending=False).index)

In [11]:
def dot_product(vector1,vector2):
    thedotproduct=np.sum([vector1[k]*vector2[k] for k in range(0,len(vector1))])
    return(thedotproduct)
def vector_norm(vector):
    thenorm=np.sqrt(dot_product(vector,vector))
    return(thenorm)

In [12]:
def cosine_similarity(vector1,vector2):
    thedotproduct=dot_product(vector1,vector2)
    thecosine=thedotproduct/(vector_norm(vector1)*vector_norm(vector2))
    return(thecosine)

In [13]:
stocks.head()

,a,b,c,d,e,f,g,h,i
1,3.564531,0.843626,-2.402565,0.697760,3.189098,0.904512,0.478321,-1.975548,3.095854
3,9.772130,-1.756487,0.853312,-3.666398,12.881639,2.667655,-1.804403,-5.218670,9.771229
4,14.438981,-0.839844,2.560567,-2.189360,7.539760,2.099690,-1.824034,-5.000000,8.398044
5,6.716418,0.000000,-0.466200,-13.114754,-1.347709,-0.819672,0.688705,-3.146375,5.649718
6,6.148235,1.386673,-1.040910,-2.287182,4.606334,-6.341989,-1.712022,-0.090992,-2.419984

In [14]:
get_item_recommendations(stocks,4)[0:10]

[61, 3, 9, 28, 36, 37, 59, 11, 1, 34]

In [15]:
def get_similar_users(interaction,username):
    othercolumns=[columnname for columnname in interaction.columns if columnname!=username]
    otherusers=interaction[othercolumns]
    theuser=list(interaction[username])
    similarities=[]
    for users in otherusers.columns:
        similarities.append(cosine_similarity(theuser,list(otherusers.loc[:,users])))
    otherusers.loc['similarities',:]=similarities
    return list(otherusers.sort_values(by='similarities',axis=1,ascending=False).columns)

In [16]:
def get_user_recommendations(interaction,username):
    similar_users=get_similar_users(interaction,username)
    purchase_history=interaction[similar_users[0]]
    purchased=list(purchase_history.loc[purchase_history==1].index)
    purchased2=list(interaction.loc[interaction[username]==1,:].index)
    recs=sorted(list(set(purchased)-set(purchased2)))
    return(recs)

In [21]:
print(get_user_recommendations(stocks,"e")[0:3])

[]

<ipython-input-15-a6e1564abba5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  otherusers.loc['similarities',:]=similarities

In [22]:
def popularity_based(interaction):
    interaction_withcounts=interaction.copy()
    interaction_withcounts.loc[:,'counts']=interaction_withcounts.sum(axis=1)
    sorted=interaction_withcounts.sort_values(by="counts",ascending=False)
    most_popular=list(sorted.index)
    return(most_popular)

In [23]:
print(popularity_based(stocks))

[17, 4, 14, 3, 58, 9, 36, 61, 33, 29, 11, 32, 7, 41, 22, 25, 30, 48, 31, 60, 40, 51, 37, 50, 26, 12, 15, 54, 53, 44, 34, 45, 21, 62, 47, 20, 8, 1, 24, 43, 28, 59, 38, 57, 10, 19, 27, 6, 46, 35, 55, 39, 49, 56, 52, 13, 5, 42, 18, 16, 23]

In [24]:
get_item_recommendations(stocks,3)[0:10]

[4, 61, 36, 37, 24, 1, 9, 55, 60, 51]

In [25]:
item1=list(stocks.loc[1,:])
item2=list(stocks.loc[3,:])
print(cosine_similarity(item1,item2))

0.8280053448895986

In [26]:
get_item_recommendations(stocks,23)[0:10]

[35, 52, 18, 56, 43, 21, 55, 39, 10, 24]