In [30]:
import pandas as pd
import numpy as np
stocks=pd.read_csv("TSX 60.csv")

In [31]:
stocks.head()

,STOCKS,1-Jul-24,13-Jul-24,27-Jul-24,3-Aug-24,10-Aug-24,17-Aug-24,24-Aug-24,31-Aug-24,8-Sep-24,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,TSX INDEX,1304.80,1351.31,1362.71,1329.97,1339.25,1381.96,1394.46,1401.13,1373.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Barrick Gold Corp,22.82,25.05,24.61,24.82,23.91,26.99,27.71,27.21,25.79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Agnico Eagle Mines Ltd,89.48,102.40,101.54,104.14,101.86,109.54,111.84,109.80,104.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Algonquin Power and Utilities Corp,8.04,8.58,8.58,8.54,7.42,7.32,7.26,7.31,7.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alimentation Couche-Tard Inc.,76.77,81.49,82.62,81.76,79.89,83.57,78.27,76.93,76.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
stocks.drop(stocks.columns[stocks.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [33]:
stocks.dropna(subset=['STOCKS'], how='all', inplace=True)

In [34]:
def percentage_change(col1,col2):
    return ((col2 - col1) / col1) * 100

In [35]:
stocks['a'] = percentage_change(stocks['1-Jul-24'], stocks['13-Jul-24'])    
stocks['b'] =  percentage_change(stocks['13-Jul-24'], stocks['27-Jul-24'])
stocks['c'] =  percentage_change(stocks['27-Jul-24'], stocks['3-Aug-24'])
stocks['d'] =  percentage_change(stocks['3-Aug-24'], stocks['10-Aug-24'])
stocks['e'] =  percentage_change(stocks['10-Aug-24'], stocks['17-Aug-24'])
stocks['f'] =  percentage_change(stocks['17-Aug-24'], stocks['24-Aug-24'])
stocks['g'] =  percentage_change(stocks['24-Aug-24'], stocks['31-Aug-24'])
stocks['h'] =  percentage_change(stocks['31-Aug-24'], stocks['8-Sep-24'])
stocks['i'] =  percentage_change(stocks['8-Sep-24'], stocks['15-Sep-24'])
stocks['j'] =  percentage_change(stocks['15-Sep-24'], stocks['22-Sep-24'])
stocks['k'] =  percentage_change(stocks['22-Sep-24'], stocks['29-Sep-24'])
stocks['l'] =  percentage_change(stocks['29-Sep-24'], stocks['6-Oct-24'])
stocks.head()

,STOCKS,1-Jul-24,13-Jul-24,27-Jul-24,3-Aug-24,10-Aug-24,17-Aug-24,24-Aug-24,31-Aug-24,8-Sep-24,...,c,d,e,f,g,h,i,j,k,l
0,TSX INDEX,1304.80,1351.31,1362.71,1329.97,1339.25,1381.96,1394.46,1401.13,1373.45,...,-2.402565,0.697760,3.189098,0.904512,0.478321,-1.975548,3.095854,1.127849,0.312164,0.659283
1,Barrick Gold Corp,22.82,25.05,24.61,24.82,23.91,26.99,27.71,27.21,25.79,...,0.853312,-3.666398,12.881639,2.667655,-1.804403,-5.218670,9.771229,-2.437301,-0.941347,-0.328947
2,Agnico Eagle Mines Ltd,89.48,102.40,101.54,104.14,101.86,109.54,111.84,109.80,104.31,...,2.560567,-2.189360,7.539760,2.099690,-1.824034,-5.000000,8.398044,-0.309543,-1.854152,-3.308325
3,Algonquin Power and Utilities Corp,8.04,8.58,8.58,8.54,7.42,7.32,7.26,7.31,7.08,...,-0.466200,-13.114754,-1.347709,-0.819672,0.688705,-3.146375,5.649718,0.802139,-1.061008,-4.289544
4,Alimentation Couche-Tard Inc.,76.77,81.49,82.62,81.76,79.89,83.57,78.27,76.93,76.86,...,-1.040910,-2.287182,4.606334,-6.341989,-1.712022,-0.090992,-2.419984,1.453333,-1.011960,-1.805629

In [36]:
stocks.drop(['STOCKS'],axis=1,inplace=True)

In [37]:
stocks.drop(['1-Jul-24'],axis=1,inplace=True)
stocks.drop(['13-Jul-24'],axis=1,inplace=True)
stocks.drop(['27-Jul-24'],axis=1,inplace=True)
stocks.drop(['3-Aug-24'],axis=1,inplace=True)
stocks.drop(['10-Aug-24'],axis=1,inplace=True)
stocks.drop(['17-Aug-24'],axis=1,inplace=True)
stocks.drop(['24-Aug-24'],axis=1,inplace=True)
stocks.drop(['31-Aug-24'],axis=1,inplace=True)
stocks.drop(['8-Sep-24'],axis=1,inplace=True)
stocks.drop(['15-Sep-24'],axis=1,inplace=True)
stocks.drop(['22-Sep-24'],axis=1,inplace=True)
stocks.drop(['29-Sep-24'],axis=1,inplace=True)
stocks.drop(['6-Oct-24'],axis=1,inplace=True)

In [38]:
stocks.head()

,a,b,c,d,e,f,g,h,i,j,k,l
0,3.564531,0.843626,-2.402565,0.697760,3.189098,0.904512,0.478321,-1.975548,3.095854,1.127849,0.312164,0.659283
1,9.772130,-1.756487,0.853312,-3.666398,12.881639,2.667655,-1.804403,-5.218670,9.771229,-2.437301,-0.941347,-0.328947
2,14.438981,-0.839844,2.560567,-2.189360,7.539760,2.099690,-1.824034,-5.000000,8.398044,-0.309543,-1.854152,-3.308325
3,6.716418,0.000000,-0.466200,-13.114754,-1.347709,-0.819672,0.688705,-3.146375,5.649718,0.802139,-1.061008,-4.289544
4,6.148235,1.386673,-1.040910,-2.287182,4.606334,-6.341989,-1.712022,-0.090992,-2.419984,1.453333,-1.011960,-1.805629

In [39]:
def get_item_recommendations(interaction,itemname):
    otherrows=[rowname for rowname in interaction.index if rowname!=itemname]
    otheritems=interaction.loc[otherrows,:]
    theitem=list(interaction.loc[itemname,:])
    similarities=[]
    for items in otheritems.index:
        similarities.append(cosine_similarity(theitem,list(otheritems.loc[items,:])))
    otheritems['similarities']=similarities
    return list(otheritems.sort_values(by='similarities',ascending=False).index)

In [40]:
def dot_product(vector1,vector2):
    thedotproduct=np.sum([vector1[k]*vector2[k] for k in range(0,len(vector1))])
    return(thedotproduct)
def vector_norm(vector):
    thenorm=np.sqrt(dot_product(vector,vector))
    return(thenorm)

In [41]:
def cosine_similarity(vector1,vector2):
    thedotproduct=dot_product(vector1,vector2)
    thecosine=thedotproduct/(vector_norm(vector1)*vector_norm(vector2))
    return(thecosine)

In [42]:
stocks.head()

,a,b,c,d,e,f,g,h,i,j,k,l
0,3.564531,0.843626,-2.402565,0.697760,3.189098,0.904512,0.478321,-1.975548,3.095854,1.127849,0.312164,0.659283
1,9.772130,-1.756487,0.853312,-3.666398,12.881639,2.667655,-1.804403,-5.218670,9.771229,-2.437301,-0.941347,-0.328947
2,14.438981,-0.839844,2.560567,-2.189360,7.539760,2.099690,-1.824034,-5.000000,8.398044,-0.309543,-1.854152,-3.308325
3,6.716418,0.000000,-0.466200,-13.114754,-1.347709,-0.819672,0.688705,-3.146375,5.649718,0.802139,-1.061008,-4.289544
4,6.148235,1.386673,-1.040910,-2.287182,4.606334,-6.341989,-1.712022,-0.090992,-2.419984,1.453333,-1.011960,-1.805629

In [43]:
get_item_recommendations(stocks,4)[0:10]

[32, 13, 58, 38, 2, 52, 35, 22, 26, 7]

In [44]:
def get_similar_users(interaction,username):
    othercolumns=[columnname for columnname in interaction.columns if columnname!=username]
    otherusers=interaction[othercolumns]
    theuser=list(interaction[username])
    similarities=[]
    for users in otherusers.columns:
        similarities.append(cosine_similarity(theuser,list(otherusers.loc[:,users])))
    otherusers.loc['similarities',:]=similarities
    return list(otherusers.sort_values(by='similarities',axis=1,ascending=False).columns)

In [45]:
def get_user_recommendations(interaction,username):
    similar_users=get_similar_users(interaction,username)
    purchase_history=interaction[similar_users[0]]
    purchased=list(purchase_history.loc[purchase_history==1].index)
    purchased2=list(interaction.loc[interaction[username]==1,:].index)
    recs=sorted(list(set(purchased)-set(purchased2)))
    return(recs)

In [46]:
print(get_user_recommendations(stocks,"e")[0:3])

[]

<ipython-input-44-a6e1564abba5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  otherusers.loc['similarities',:]=similarities

In [47]:
def popularity_based(interaction):
    interaction_withcounts=interaction.copy()
    interaction_withcounts.loc[:,'counts']=interaction_withcounts.sum(axis=1)
    sorted=interaction_withcounts.sort_values(by="counts",ascending=False)
    most_popular=list(sorted.index)
    return(most_popular)

In [48]:
print(popularity_based(stocks))

[48, 9, 7, 15, 5, 30, 1, 2, 56, 49, 39, 20, 27, 12, 59, 52, 34, 10, 42, 24, 29, 23, 46, 43, 33, 28, 32, 36, 60, 31, 58, 19, 13, 22, 0, 41, 38, 25, 14, 35, 8, 53, 54, 51, 50, 45, 18, 6, 26, 44, 57, 16, 11, 37, 55, 40, 4, 17, 21, 47, 3]

In [49]:
get_item_recommendations(stocks,3)[0:10]

[26, 59, 18, 37, 2, 34, 17, 5, 29, 7]

In [50]:
item1=list(stocks.loc[1,:])
item2=list(stocks.loc[3,:])
print(cosine_similarity(item1,item2))

0.4788100068550678

In [51]:
get_item_recommendations(stocks,23)[0:10]

[31, 28, 56, 38, 29, 35, 27, 58, 32, 12]

In [52]:
get_item_recommendations(stocks,1)[0:10]

[2, 34, 59, 22, 35, 0, 7, 49, 60, 39]

In [53]:
stocks.head()

,a,b,c,d,e,f,g,h,i,j,k,l
0,3.564531,0.843626,-2.402565,0.697760,3.189098,0.904512,0.478321,-1.975548,3.095854,1.127849,0.312164,0.659283
1,9.772130,-1.756487,0.853312,-3.666398,12.881639,2.667655,-1.804403,-5.218670,9.771229,-2.437301,-0.941347,-0.328947
2,14.438981,-0.839844,2.560567,-2.189360,7.539760,2.099690,-1.824034,-5.000000,8.398044,-0.309543,-1.854152,-3.308325
3,6.716418,0.000000,-0.466200,-13.114754,-1.347709,-0.819672,0.688705,-3.146375,5.649718,0.802139,-1.061008,-4.289544
4,6.148235,1.386673,-1.040910,-2.287182,4.606334,-6.341989,-1.712022,-0.090992,-2.419984,1.453333,-1.011960,-1.805629

In [54]:
stocks.tail()

,a,b,c,d,e,f,g,h,i,j,k,l
56,2.526032,9.159300,2.153687,0.286726,2.186344,0.213957,2.512728,1.473887,-0.110515,-0.979927,0.845970,-3.102248
57,2.503854,-1.198992,2.353038,-0.478277,0.500767,1.193442,-0.202518,-1.436416,1.889306,-3.720433,-1.337449,-0.095933
58,5.945424,2.398197,-1.527004,-1.455549,4.691799,1.258703,-0.195793,1.081254,1.922730,-2.785404,2.564570,-2.469355
59,13.216228,-0.677256,-0.855443,-4.151557,5.440313,3.823311,-0.738887,-5.582903,8.100203,-0.188213,-0.471420,-3.031380
60,3.633291,3.614622,-3.991257,-3.474183,4.759658,2.026297,-0.847383,-0.801211,4.334560,0.941854,1.261131,0.824673

In [55]:
#Most similar items to the index
get_item_recommendations(stocks,0)[0:10]

[9, 7, 22, 39, 60, 59, 19, 41, 42, 1]