In [63]:
import pandas as pd
import numpy as np
stocks=pd.read_csv("TSX 60.csv")

In [64]:
stocks.head()

,STOCKS,1-Jul-24,13-Jul-24,27-Jul-24,3-Aug-24,10-Aug-24,17-Aug-24,24-Aug-24,31-Aug-24,8-Sep-24,15-Sep-24,22-Sep-24,29-Sep-24,6-Oct-24,13-Oct-24,20-Oct-24,27-Oct-24,3-Nov-24,10-Nov-24,17-Nov-24
0,TSX INDEX,1304.80,1351.31,1362.71,1329.97,1339.25,1381.96,1394.46,1401.13,1373.45,1415.97,1431.94,1436.41,1445.88,1464.33,1486.05,1462.95,1450.05,1482.06,1495.76
1,Barrick Gold Corp,22.82,25.05,24.61,24.82,23.91,26.99,27.71,27.21,25.79,28.31,27.62,27.36,27.27,27.49,28.88,27.26,26.60,25.62,23.46
2,Agnico Eagle Mines Ltd,89.48,102.40,101.54,104.14,101.86,109.54,111.84,109.80,104.31,113.07,112.72,110.63,106.97,109.33,119.01,120.79,119.75,116.67,108.15
3,Algonquin Power and Utilities Corp,8.04,8.58,8.58,8.54,7.42,7.32,7.26,7.31,7.08,7.48,7.54,7.46,7.14,6.89,7.14,6.89,6.64,6.67,6.77
4,Alimentation Couche-Tard Inc.,76.77,81.49,82.62,81.76,79.89,83.57,78.27,76.93,76.86,75.00,76.09,75.32,73.96,72.27,73.73,71.43,73.04,77.03,79.37

In [65]:
stocks.drop(stocks.columns[stocks.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [66]:
stocks.dropna(subset=['STOCKS'], how='all', inplace=True)

In [67]:
def percentage_change(col1,col2):
    return ((col2 - col1) / col1) * 100

In [68]:
stocks['a'] = percentage_change(stocks['1-Jul-24'], stocks['13-Jul-24'])    
stocks['b'] =  percentage_change(stocks['13-Jul-24'], stocks['27-Jul-24'])
stocks['c'] =  percentage_change(stocks['27-Jul-24'], stocks['3-Aug-24'])
stocks['d'] =  percentage_change(stocks['3-Aug-24'], stocks['10-Aug-24'])
stocks['e'] =  percentage_change(stocks['10-Aug-24'], stocks['17-Aug-24'])
stocks['f'] =  percentage_change(stocks['17-Aug-24'], stocks['24-Aug-24'])
stocks['g'] =  percentage_change(stocks['24-Aug-24'], stocks['31-Aug-24'])
stocks['h'] =  percentage_change(stocks['31-Aug-24'], stocks['8-Sep-24'])
stocks['i'] =  percentage_change(stocks['8-Sep-24'], stocks['15-Sep-24'])
stocks['j'] =  percentage_change(stocks['15-Sep-24'], stocks['22-Sep-24'])
stocks['k'] =  percentage_change(stocks['22-Sep-24'], stocks['29-Sep-24'])
stocks['l'] =  percentage_change(stocks['29-Sep-24'], stocks['6-Oct-24'])
stocks['m'] =  percentage_change(stocks['6-Oct-24'], stocks['13-Oct-24'])
stocks['n'] =  percentage_change(stocks['13-Oct-24'], stocks['20-Oct-24'])
stocks['o'] =  percentage_change(stocks['20-Oct-24'], stocks['27-Oct-24'])
stocks['p'] =  percentage_change(stocks['27-Oct-24'], stocks['3-Nov-24'])
stocks['q'] =  percentage_change(stocks['3-Nov-24'], stocks['10-Nov-24'])
stocks['r'] =  percentage_change(stocks['10-Nov-24'], stocks['17-Nov-24'])
stocks.head()

,STOCKS,1-Jul-24,13-Jul-24,27-Jul-24,3-Aug-24,10-Aug-24,17-Aug-24,24-Aug-24,31-Aug-24,8-Sep-24,...,i,j,k,l,m,n,o,p,q,r
0,TSX INDEX,1304.80,1351.31,1362.71,1329.97,1339.25,1381.96,1394.46,1401.13,1373.45,...,3.095854,1.127849,0.312164,0.659283,1.276040,1.483272,-1.554456,-0.881780,2.207510,0.924389
1,Barrick Gold Corp,22.82,25.05,24.61,24.82,23.91,26.99,27.71,27.21,25.79,...,9.771229,-2.437301,-0.941347,-0.328947,0.806747,5.056384,-5.609418,-2.421130,-3.684211,-8.430913
2,Agnico Eagle Mines Ltd,89.48,102.40,101.54,104.14,101.86,109.54,111.84,109.80,104.31,...,8.398044,-0.309543,-1.854152,-3.308325,2.206226,8.853928,1.495673,-0.860998,-2.572025,-7.302648
3,Algonquin Power and Utilities Corp,8.04,8.58,8.58,8.54,7.42,7.32,7.26,7.31,7.08,...,5.649718,0.802139,-1.061008,-4.289544,-3.501401,3.628447,-3.501401,-3.628447,0.451807,1.499250
4,Alimentation Couche-Tard Inc.,76.77,81.49,82.62,81.76,79.89,83.57,78.27,76.93,76.86,...,-2.419984,1.453333,-1.011960,-1.805629,-2.285019,2.020202,-3.119490,2.253955,5.462760,3.037777

In [69]:
stocks.drop(['STOCKS'],axis=1,inplace=True)

In [70]:
stocks.drop(['1-Jul-24'],axis=1,inplace=True)
stocks.drop(['13-Jul-24'],axis=1,inplace=True)
stocks.drop(['27-Jul-24'],axis=1,inplace=True)
stocks.drop(['3-Aug-24'],axis=1,inplace=True)
stocks.drop(['10-Aug-24'],axis=1,inplace=True)
stocks.drop(['17-Aug-24'],axis=1,inplace=True)
stocks.drop(['24-Aug-24'],axis=1,inplace=True)
stocks.drop(['31-Aug-24'],axis=1,inplace=True)
stocks.drop(['8-Sep-24'],axis=1,inplace=True)
stocks.drop(['15-Sep-24'],axis=1,inplace=True)
stocks.drop(['22-Sep-24'],axis=1,inplace=True)
stocks.drop(['29-Sep-24'],axis=1,inplace=True)
stocks.drop(['6-Oct-24'],axis=1,inplace=True)
stocks.drop(['13-Oct-24'],axis=1,inplace=True)
stocks.drop(['20-Oct-24'],axis=1,inplace=True)
stocks.drop(['27-Oct-24'],axis=1,inplace=True)
stocks.drop(['3-Nov-24'],axis=1,inplace=True)
stocks.drop(['10-Nov-24'],axis=1,inplace=True)
stocks.drop(['17-Nov-24'],axis=1,inplace=True)

In [71]:
stocks.head()

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r
0,3.564531,0.843626,-2.402565,0.697760,3.189098,0.904512,0.478321,-1.975548,3.095854,1.127849,0.312164,0.659283,1.276040,1.483272,-1.554456,-0.881780,2.207510,0.924389
1,9.772130,-1.756487,0.853312,-3.666398,12.881639,2.667655,-1.804403,-5.218670,9.771229,-2.437301,-0.941347,-0.328947,0.806747,5.056384,-5.609418,-2.421130,-3.684211,-8.430913
2,14.438981,-0.839844,2.560567,-2.189360,7.539760,2.099690,-1.824034,-5.000000,8.398044,-0.309543,-1.854152,-3.308325,2.206226,8.853928,1.495673,-0.860998,-2.572025,-7.302648
3,6.716418,0.000000,-0.466200,-13.114754,-1.347709,-0.819672,0.688705,-3.146375,5.649718,0.802139,-1.061008,-4.289544,-3.501401,3.628447,-3.501401,-3.628447,0.451807,1.499250
4,6.148235,1.386673,-1.040910,-2.287182,4.606334,-6.341989,-1.712022,-0.090992,-2.419984,1.453333,-1.011960,-1.805629,-2.285019,2.020202,-3.119490,2.253955,5.462760,3.037777

In [72]:
def get_item_recommendations(interaction,itemname):
    otherrows=[rowname for rowname in interaction.index if rowname!=itemname]
    otheritems=interaction.loc[otherrows,:]
    theitem=list(interaction.loc[itemname,:])
    similarities=[]
    for items in otheritems.index:
        similarities.append(cosine_similarity(theitem,list(otheritems.loc[items,:])))
    otheritems['similarities']=similarities
    return list(otheritems.sort_values(by='similarities',ascending=False).index)

In [73]:
def dot_product(vector1,vector2):
    thedotproduct=np.sum([vector1[k]*vector2[k] for k in range(0,len(vector1))])
    return(thedotproduct)
def vector_norm(vector):
    thenorm=np.sqrt(dot_product(vector,vector))
    return(thenorm)

In [74]:
def cosine_similarity(vector1,vector2):
    thedotproduct=dot_product(vector1,vector2)
    thecosine=thedotproduct/(vector_norm(vector1)*vector_norm(vector2))
    return(thecosine)

In [75]:
stocks.head()

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r
0,3.564531,0.843626,-2.402565,0.697760,3.189098,0.904512,0.478321,-1.975548,3.095854,1.127849,0.312164,0.659283,1.276040,1.483272,-1.554456,-0.881780,2.207510,0.924389
1,9.772130,-1.756487,0.853312,-3.666398,12.881639,2.667655,-1.804403,-5.218670,9.771229,-2.437301,-0.941347,-0.328947,0.806747,5.056384,-5.609418,-2.421130,-3.684211,-8.430913
2,14.438981,-0.839844,2.560567,-2.189360,7.539760,2.099690,-1.824034,-5.000000,8.398044,-0.309543,-1.854152,-3.308325,2.206226,8.853928,1.495673,-0.860998,-2.572025,-7.302648
3,6.716418,0.000000,-0.466200,-13.114754,-1.347709,-0.819672,0.688705,-3.146375,5.649718,0.802139,-1.061008,-4.289544,-3.501401,3.628447,-3.501401,-3.628447,0.451807,1.499250
4,6.148235,1.386673,-1.040910,-2.287182,4.606334,-6.341989,-1.712022,-0.090992,-2.419984,1.453333,-1.011960,-1.805629,-2.285019,2.020202,-3.119490,2.253955,5.462760,3.037777

In [76]:
get_item_recommendations(stocks,4)[0:10]

[38, 58, 37, 49, 35, 32, 0, 28, 9, 52]

In [77]:
def get_similar_users(interaction,username):
    othercolumns=[columnname for columnname in interaction.columns if columnname!=username]
    otherusers=interaction[othercolumns]
    theuser=list(interaction[username])
    similarities=[]
    for users in otherusers.columns:
        similarities.append(cosine_similarity(theuser,list(otherusers.loc[:,users])))
    otherusers.loc['similarities',:]=similarities
    return list(otherusers.sort_values(by='similarities',axis=1,ascending=False).columns)

In [78]:
def get_user_recommendations(interaction,username):
    similar_users=get_similar_users(interaction,username)
    purchase_history=interaction[similar_users[0]]
    purchased=list(purchase_history.loc[purchase_history==1].index)
    purchased2=list(interaction.loc[interaction[username]==1,:].index)
    recs=sorted(list(set(purchased)-set(purchased2)))
    return(recs)

In [79]:
print(get_user_recommendations(stocks,"e")[0:3])

[]

<ipython-input-77-a6e1564abba5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  otherusers.loc['similarities',:]=similarities

In [80]:
def popularity_based(interaction):
    interaction_withcounts=interaction.copy()
    interaction_withcounts.loc[:,'counts']=interaction_withcounts.sum(axis=1)
    sorted=interaction_withcounts.sort_values(by="counts",ascending=False)
    most_popular=list(sorted.index)
    return(most_popular)

In [81]:
print(popularity_based(stocks))

[48, 5, 9, 15, 56, 30, 7, 49, 36, 27, 2, 39, 11, 24, 10, 42, 22, 34, 14, 59, 46, 28, 32, 43, 58, 8, 35, 0, 38, 33, 19, 20, 31, 60, 23, 29, 50, 37, 57, 13, 52, 1, 4, 25, 51, 54, 12, 41, 26, 45, 44, 55, 53, 18, 16, 17, 40, 6, 47, 3, 21]

In [82]:
get_item_recommendations(stocks,3)[0:10]

[7, 37, 59, 26, 9, 29, 23, 18, 2, 34]

In [83]:
item1=list(stocks.loc[1,:])
item2=list(stocks.loc[3,:])
print(cosine_similarity(item1,item2))

0.4453635235887714

In [84]:
get_item_recommendations(stocks,23)[0:10]

[31, 28, 7, 56, 12, 45, 29, 32, 3, 59]

In [85]:
get_item_recommendations(stocks,1)[0:10]

[2, 59, 34, 7, 60, 26, 22, 53, 29, 0]

In [86]:
stocks.head()

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r
0,3.564531,0.843626,-2.402565,0.697760,3.189098,0.904512,0.478321,-1.975548,3.095854,1.127849,0.312164,0.659283,1.276040,1.483272,-1.554456,-0.881780,2.207510,0.924389
1,9.772130,-1.756487,0.853312,-3.666398,12.881639,2.667655,-1.804403,-5.218670,9.771229,-2.437301,-0.941347,-0.328947,0.806747,5.056384,-5.609418,-2.421130,-3.684211,-8.430913
2,14.438981,-0.839844,2.560567,-2.189360,7.539760,2.099690,-1.824034,-5.000000,8.398044,-0.309543,-1.854152,-3.308325,2.206226,8.853928,1.495673,-0.860998,-2.572025,-7.302648
3,6.716418,0.000000,-0.466200,-13.114754,-1.347709,-0.819672,0.688705,-3.146375,5.649718,0.802139,-1.061008,-4.289544,-3.501401,3.628447,-3.501401,-3.628447,0.451807,1.499250
4,6.148235,1.386673,-1.040910,-2.287182,4.606334,-6.341989,-1.712022,-0.090992,-2.419984,1.453333,-1.011960,-1.805629,-2.285019,2.020202,-3.119490,2.253955,5.462760,3.037777

In [87]:
stocks.tail()

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r
56,2.526032,9.159300,2.153687,0.286726,2.186344,0.213957,2.512728,1.473887,-0.110515,-0.979927,0.845970,-3.102248,2.597190,5.747492,-1.114122,-1.629111,4.968271,1.813624
57,2.503854,-1.198992,2.353038,-0.478277,0.500767,1.193442,-0.202518,-1.436416,1.889306,-3.720433,-1.337449,-0.095933,4.208417,1.013622,-3.046048,1.104520,3.601052,0.999805
58,5.945424,2.398197,-1.527004,-1.455549,4.691799,1.258703,-0.195793,1.081254,1.922730,-2.785404,2.564570,-2.469355,1.316029,0.391029,-2.251970,1.864151,4.815647,-3.092960
59,13.216228,-0.677256,-0.855443,-4.151557,5.440313,3.823311,-0.738887,-5.582903,8.100203,-0.188213,-0.471420,-3.031380,2.051533,9.859998,0.108921,-1.066260,-0.769823,-8.389671
60,3.633291,3.614622,-3.991257,-3.474183,4.759658,2.026297,-0.847383,-0.801211,4.334560,0.941854,1.261131,0.824673,3.981138,0.529759,-0.858318,0.978497,-3.796307,-1.454922

In [88]:
#Most similar items to the index
get_item_recommendations(stocks,0)[0:10]

[9, 39, 7, 19, 37, 36, 8, 49, 42, 22]